<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>{{employee.empName}} details
  </h2>
  <div>
    <span>Employee ID:</span>{{employee.empId}}
  </div>
  <div>
    <span>Full Name:</span>{{employee.empName}}
  </div>
  <div>
    <span>Email Address:</span>{{employee.empMail}}
  </div>
  <div>
    <span>Mobile Number:</span>{{employee.empPhone}}
  </div>
  <div>
    <span>Date Joined:</span>{{employee.empDoj}}
  </div>
  <div>
    <span>Department:</span>{{employee.empDept}}
  </div>
  <div>
    <span>Available Leave Balance:</span>{{employee.leaveBalance}}
  </div>
</div>



